    <div class="list-group zoom" id="list-tab">
      <a href="{% url 'index' %}" class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'index' %}active{% endif %}">Мои посты</a>
      <a href="{% url 'subscriptions' %}" class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'subscriptions' %}active{% endif %}">Подписки</a>
      <a href="{% url 'search' %}" class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'search' %}active{% endif %}">Поиск</a>
      <a href="{% url 'notifications' %}" class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'notifications' %}active{% endif %}">Уведомления</a>
      <a href="{% url 'bookmarks' %}" class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'bookmarks' %}active{% endif %}">Закладки</a>
      <a href="{% url 'my_settings' %}" class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'my_settings' %}active{% endif %}">Настройки</a>
    </div>

<!-- .zoom{
    zoom:1.3;
} -->